.text-animation-page {
    display: flex; /* تفعيل Flexbox */
    flex-direction: column; /* ترتيب العناصر عموديًا */
    justify-content: center; /* توسيط المحتوى عموديًا */
    align-items: center; /* توسيط المحتوى أفقيًا */
    text-align: center; /* محاذاة النصوص إلى الوسط */
    background: linear-gradient(135deg, #401d57, #89459d, #622c64);
    min-height: 100vh; /* يجعل الحاوية تغطي كامل الشاشة */
    color: white;
  }
  
  .text-animation-title {
    font-size: 2.5rem;
    margin-bottom: 30px;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .sentences-container {
    display: flex;
    flex-direction: column;
    gap: 20px; /* مسافة بين الجمل */
    align-items: center;
    justify-content: center;
  }
  

  
  
  .text-char {
    display: inline-block;
    margin: 0 2px;
    color: #ffd700;
    transition: all 0.3s ease;
  }
  
  .text-char:hover {
    color: #ff5733;
    transform: scale(1.2);
  }
  